moia/moia-super-editor.json
{
  "name": "MOIA Super Editor — Noticias IA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://feeds.weblogssl.com/xataka/tag/inteligencia-artificial"
      },
      "id": "aa000002-0000-0000-0000-000000000002",
      "name": "RSS Xataka IA",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [460, 140]
    },
    {
      "parameters": {
        "url": "https://feeds.weblogssl.com/genbeta/tag/inteligencia-artificial"
      },
      "id": "aa000003-0000-0000-0000-000000000003",
      "name": "RSS Genbeta IA",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://www.wired.com/feed/tag/ai/latest/rss"
      },
      "id": "aa000004-0000-0000-0000-000000000004",
      "name": "RSS Wired AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [460, 460]
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": 1,
        "keep": "firstItems"
      },
      "id": "aa000005-0000-0000-0000-000000000005",
      "name": "Limit Xataka",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [680, 140]
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": 1,
        "keep": "firstItems"
      },
      "id": "aa000006-0000-0000-0000-000000000006",
      "name": "Limit Genbeta",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": 1,
        "keep": "firstItems"
      },
      "id": "aa000007-0000-0000-0000-000000000007",
      "name": "Limit Wired",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "aa000008-0000-0000-0000-000000000008",
      "name": "Merge Xataka+Genbeta",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [900, 220]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "aa000009-0000-0000-0000-000000000009",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1100, 320]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const item = $input.item.json;\n\n// Limpia etiquetas HTML y entidades\nconst stripHtml = (str) =>\n  (str || '')\n    .replace(/<[^>]*>/gi, '')\n    .replace(/&[a-zA-Z0-9#]+;/gi, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n// Detecta fuente por dominio\nconst link = item.link || item.url || '';\nlet fuente = 'Desconocido';\nif (link.includes('xataka'))  fuente = 'Xataka IA';\nelse if (link.includes('genbeta')) fuente = 'Genbeta';\nelse if (link.includes('wired'))   fuente = 'Wired';\n\n// Imagen desde media:content o enclosure\nconst imagen =\n  (item['media:content'] && item['media:content']['$'] && item['media:content']['$'].url) ||\n  (item.enclosure && item.enclosure.url) ||\n  null;\n\nreturn {\n  json: {\n    titulo:       item.title || '',\n    descripcion:  stripHtml(item.content || item.contentSnippet || item.description || ''),\n    enlace:       link,\n    imagen:       imagen,\n    fuente:       fuente,\n    categoria:    'IA',\n    autor:        item.creator || item['dc:creator'] || null,\n    puntos_clave: null,\n    valoracion:   null,\n    tipo:         'noticia'\n  }\n};"
      },
      "id": "aa000010-0000-0000-0000-000000000010",
      "name": "Map Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 320]
    },
    {
      "parameters": {
        "resource": "language",
        "operation": "translate",
        "authentication": "oAuth2",
        "text": "={{ $json.titulo }}",
        "translateTo": "es"
      },
      "id": "aa000011-0000-0000-0000-000000000011",
      "name": "Translate Título",
      "type": "n8n-nodes-base.googleTranslate",
      "typeVersion": 2,
      "position": [1540, 320],
      "credentials": {
        "googleTranslateOAuth2Api": {
          "id": "CONFIGURA_TU_CREDENCIAL",
          "name": "Google Translate OAuth2"
        }
      },
      "notes": "⚠️ Configura tus credenciales de Google Translate OAuth2 antes de activar el workflow."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const item = $input.item.json;\n// Usa el título traducido si está disponible; si no, el original\nreturn {\n  json: {\n    tipo:         'noticia',\n    titulo:       item.translatedText || item.titulo,\n    descripcion:  item.descripcion,\n    enlace:       item.enlace,\n    imagen:       item.imagen,\n    fuente:       item.fuente,\n    categoria:    item.categoria,\n    autor:        item.autor,\n    puntos_clave: item.puntos_clave,\n    valoracion:   item.valoracion\n  }\n};"
      },
      "id": "aa000012-0000-0000-0000-000000000012",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://moia-ten.vercel.app/api/webhook",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_TOKEN_REAL"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "tipo",         "value": "={{ $json.tipo }}" },
            { "name": "titulo",       "value": "={{ $json.titulo }}" },
            { "name": "descripcion",  "value": "={{ $json.descripcion }}" },
            { "name": "enlace",       "value": "={{ $json.enlace }}" },
            { "name": "imagen",       "value": "={{ $json.imagen }}" },
            { "name": "fuente",       "value": "={{ $json.fuente }}" },
            { "name": "categoria",    "value": "={{ $json.categoria }}" },
            { "name": "autor",        "value": "={{ $json.autor }}" },
            { "name": "puntos_clave", "value": "={{ $json.puntos_clave }}" },
            { "name": "valoracion",   "value": "={{ $json.valoracion }}" }
          ]
        }
      },
      "id": "aa000013-0000-0000-0000-000000000013",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1980, 320]
    },
    {
      "parameters": {},
      "id": "aa000014-0000-0000-0000-000000000014",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 520],
      "notes": "Conectar a Telegram / Email para alertas de fallo."
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "RSS Xataka IA",  "type": "main", "index": 0 },
          { "node": "RSS Genbeta IA", "type": "main", "index": 0 },
          { "node": "RSS Wired AI",   "type": "main", "index": 0 }
        ]
      ]
    },
    "RSS Xataka IA":  { "main": [[{ "node": "Limit Xataka",  "type": "main", "index": 0 }]] },
    "RSS Genbeta IA": { "main": [[{ "node": "Limit Genbeta", "type": "main", "index": 0 }]] },
    "RSS Wired AI":   { "main": [[{ "node": "Limit Wired",   "type": "main", "index": 0 }]] },
    "Limit Xataka":   { "main": [[{ "node": "Merge Xataka+Genbeta", "type": "main", "index": 0 }]] },
    "Limit Genbeta":  { "main": [[{ "node": "Merge Xataka+Genbeta", "type": "main", "index": 1 }]] },
    "Merge Xataka+Genbeta": { "main": [[{ "node": "Merge All", "type": "main", "index": 0 }]] },
    "Limit Wired":    { "main": [[{ "node": "Merge All", "type": "main", "index": 1 }]] },
    "Merge All":      { "main": [[{ "node": "Map Fields",      "type": "main", "index": 0 }]] },
    "Map Fields":     { "main": [[{ "node": "Translate Título", "type": "main", "index": 0 }]] },
    "Translate Título": { "main": [[{ "node": "Build Payload",  "type": "main", "index": 0 }]] },
    "Build Payload":  { "main": [[{ "node": "HTTP Request",    "type": "main", "index": 0 }]] }
  }
}
